
    <!-- tienda.liquid -->
    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tienda - {{ page_title }}</title>
        <link rel="stylesheet" href="{{ 'tienda.css' | asset_url }}">
        <link rel="stylesheet" href="{{ 'product.css' | asset_url }}">
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
        {{ content_for_header }}
    </head>
    <body>
        <div id="tienda" style="min-height: 100vh; width: 100%; background-color: rgb(255, 255, 255); background-position: center; background-size: cover; background-repeat: no-repeat; padding: 70px 20px; position: relative;">

            <div class="tienda-logo">
                <img src="{{ 'al_logo_negro.png' | asset_url }}" alt="Logo de Tienda" style="max-width: 300px;">
            </div>
        
        
            <div class="menu-container">
                <div class="menu">
                    <a href="/cart" class="bold cart-link">
                        {% if cart.item_count > 0 %}
                            <span class="cart-count">({{ cart.item_count }})</span>
                        {% else %}
                            <span class="cart-count">0 items</span>
                        {% endif %}
                        <img src="{{ 'shopping-cart2.png' | asset_url }}" alt="Carrito" class="cart-icon">
                    </a>
                </div>
                
            </div>
            
            
            <div id="sections-container">
                <div id="tienda-content" class="section-content">
                    <div class="productos">
                        {% for product in collections['essential-drop'].products %}
                          <div class="producto-container">
                            <a href="{{ product.url }}" class="imagen-container">
                                <img class="imagen-frontal" src="{{ product.featured_image | img_url: 'large' }}" alt="{{ product.title }} Front">
                                <img class="imagen-trasera" src="{{ product.images[1] | img_url: 'large' }}" alt="{{ product.title }} Back">
                                
                            </a>
                            <div class="producto-nombre">{{ product.title }}</div> <!-- El nombre ahora está fuera del enlace -->
                            <div class="producto-precio">{{ product.price | money }}</div>
                          </div>
                        {% endfor %}
                      </div>                      
                  </div>
            </div>
        </div>
    
        <script>
            function showSection(sectionId) {
                const sections = document.getElementsByClassName('section-content');
                for (let section of sections) {
                    section.style.display = 'none';
                }
        
                document.getElementById(sectionId).style.display = 'block';
        
                const menuLinks = document.querySelectorAll('.menu a');
                menuLinks.forEach(link => {
                    if (link.getAttribute('onclick')?.includes(sectionId)) {
                        link.classList.add('active');
                    } else {
                        link.classList.remove('active');
                    }
                });
            }
        
            // Al cargar la página, mostrar la tienda inicialmente
            window.addEventListener('load', function() {
                showSection('tienda-content');
            });
        
            // Actualización dinámica del carrito
            function updateCartCount() {
                fetch('/cart.js')
                    .then(response => response.json())
                    .then(data => {
                        const cartCount = data.item_count;
                        const cartCountElement = document.querySelector('.cart-count');
                        const cartLink = document.querySelector('.cart-link');
            
                        if (cartCountElement) {
                            cartCountElement.textContent = `(${cartCount})`;
                        } else {
                            const newCartCount = document.createElement('span');
                            newCartCount.className = 'cart-count';
                            newCartCount.textContent = `${cartCount} items`;
                            cartLink.insertBefore(newCartCount, cartLink.firstChild);
                        }
                    })
                    .catch(error => console.error('Error actualizando el carrito:', error));
            }
            
        
            window.addEventListener('load', updateCartCount);
        </script>
    
        <footer class="footer">
            <div class="footer-content">
                <p class="footer-text">"La moda es arte en movimiento" — Desarrollado por 
                    <a href="https://amsteradri.github.io/portfolio_adgutier/" target="_blank" class="portfolio-link">Adrián Gutiérrez</a> — Para Aestheticlab
                </p>
                
                <div class="footer-links">
                    <a href="https://www.instagram.com/aestheticlab.official/" target="_blank">Instagram</a> |
                    <a href="https://www.tiktok.com/@aestheticlab.official?is_from_webapp=1&sender_device=pc" target="_blank">Tiktok</a>
                </div>
                
                <div class="footer-links">
                    <a href="/pages/politicas" target="_self">Política de Privacidad</a> |
                    <a href="/pages/politicas#aviso-legal" target="_self">Aviso Legal</a> |
                    <a href="/pages/politicas#devoluciones" target="_self">Devoluciones</a> |
                    <a href="/pages/politicas#envios" target="_self">Envíos</a> |
                    <a href="/pages/politicas#terminos" target="_self">Términos de Servicio</a> |
                    <a href="/pages/politicas#contacto" target="_self">Información de Contacto</a>
                </div>
                
            </div>
            
            <div class="footer-copyright">
                <p>© 2024, PBS</p>
            </div>
        </footer>
        
        <style>
            /* Estilos para el enlace del portafolio */
            .portfolio-link {
                color: inherit; /* Hereda el color del texto padre */
                text-decoration: underline; /* Subrayado */
            }
            
            /* Estilos para evitar color de enlace visitado y mantener siempre el color original */
            .portfolio-link:visited,
            .portfolio-link:hover,
            .portfolio-link:active {
                color: inherit; /* Mantiene el color original */
                text-decoration: underline; /* Evita el subrayado en todos los estados */
            }
        
            /* Estilos generales del footer */
            .footer {
                background-color: #333; /* Fondo oscuro */
                color: white; /* Texto blanco */
                padding: 20px 40px;
                font-family: Arial, sans-serif;
            }
        
            .footer-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 20px;
            }
        
            .footer-text {
                text-align: center;
                margin-bottom: 10px;
            }
        
            .footer-links,
            .footer-terms {
                text-align: center;
                margin-top: 10px;
            }
        
            .footer-links a,
            .footer-terms a {
                color: white;
                text-decoration: none;
                margin: 0 10px;
            }
        
            .footer-links a:hover,
            .footer-terms a:hover {
                text-decoration: underline; /* Subrayado al pasar el ratón */
            }
        
            .footer-copyright {
                text-align: left;
                font-size: 12px;
                margin-top: 20px;
                position: absolute;
                bottom: 10px;
                left: 20px;
            }
        </style>
        
        
        
    
        {{ content_for_footer }}
    </body>
    </html>